

body {
  background-color: red;
  
  
}

.menu {
  background-color: grey;
  height: 100px;
  
}

.menu p {
  font-size: 20px;
  color: black;
  text-align: center;
  align-content: center;
}

.contenedor {
  
display: flex;
flex-direction: row;

.item1 {
background-color: aqua;
height: 600px;
width: 250px;

}

.item2 {
  background-color: coral;
  height: 600px;
  width: 250px;
}

.item3 {
background-color:aqua;
height: 600px;
width: 450px;

display: flex;
flex-direction: column;
  
justify-content: center;
align-items: center;
  .small {
    background-color: black;
    height: 200px;
    width: 200px;

  }




.small2 {
background-color: grey;
height: 200px;
width: 200px;
}


}



.item4 {
  background-color: coral;
  height: 600px;
  width: 450px;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;


.small3 {
background-color: black;
height: 200px;
width: 200px;

}

.small4{
background-color: grey;
height: 200px;
width: 200px;

}



  }



}

.menu2 {
  background-color:grey;
  height: 100px;
}

.menu2 p {

  font-size: 20px;
  color: black;
  text-align: center
}